@import url(common.css);

/* フォーム 親 余白 ボーダー灰色*/
main div {
  display: flex;
  margin-top: 67px;
  padding: 40px 8% 10px 8%;
  border: 2px solid #4a4a4a;
  justify-content: center;
  column-gap: 30px;
}
/* 入力フォーム 子 サイズ*/
main fieldset {
  flex: 1%;
}
/* フォームタイトル */
main legend {
  font-weight: bold;
  text-align: left;
  padding-bottom: 15px;
}
/* 入力フォーム欄のサイズ 下余白 */
main input[type="text"],
main input[type="email"],
main input[type="tel"],
main textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 30px;
}
/* お問い合わせ入力欄 textエリア */
main textarea {
  height: 15em;
  line-height: 1.5;
  resize: vertical;
}

/* 注意書き */
main h3 {
  text-align: right;
  margin-top: 10px;
}

/* 送信ボタン */
main p.button {
  display: flex;
  justify-content: center;
  margin-top: 54px;
}
main p button {
  padding: 16.5px 62px;
  background: #6b5311;
  color: #fffdf8;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
main p button:hover {
  opacity: 0.7;
}

/* 個人情報保護 */
main section {
  background-color: #6b5311;
  color: #fff;
  font-size: 18px;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
  padding: 13px 30px;
}
main section h2 {
  margin-bottom: 6px;
}
main section p {
  text-align: left;
}

/*--------------
レスポンシブ
--------------*/
/* スマホの書式 */
@media (max-width: 767px) {
  /* 入力フォーム ブロック化 */
  main div {
    display: block;
  }
}
